.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}
.line {
    margin-left: 1rem;
    width: 98%;
    border-bottom: .5px solid;
}

h1 {
    /* font-weight: bold; */
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.company_item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.center_prooduct {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_list {
    width: 98vw;
    padding: .5rem;
    display: flex;
    overflow-x: auto;
    gap: .5rem;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(152, 152, 152);
}
.product_list::-webkit-scrollbar {
    display: none;
  }

.product {
    padding: .5rem;
    width: 14rem;
    height: 25rem;
    box-shadow: 0 0 1rem var(--color-navbar);
    border-radius: .5rem;
    transition: .3s linear;
    position: relative;
}

.image_product {
    width: 13rem;
    height: 10rem;
    margin-bottom: .5rem;
}

.image_product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .3s linear;

}

.product:hover img {
    background-color: white;
    transform: scale(1.1);
    border-radius: .3rem;
    box-shadow: 0 0 1rem var(--color-navbar);
}

.product_detail {
    padding: .5rem;
    height: 8.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    margin-bottom: .2rem;
}

.product_detail h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    height: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .2s linear;
}

.product_detail h2:hover {
    text-decoration: underline;
    color: var(--color-blue);
}

.product_detail p {
    font-size: 1rem;
}

.rating {
    margin-left: .5rem;
}

.rating i {
    font-size: 1rem;
    color: gold;
}

.price {
    width: 100%;
    height: 2rem;
    padding: 0 1rem 0 1rem;
    margin-top: .5rem;
    display: flex;
    /* padding: 0; */
    align-items: center;
    justify-content: space-between;
}

.price p {
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
}

.price span i {
    cursor: pointer;
    color: gold;
    font-size: 1.5rem;
    transition: .3s linear;
}

.price span i:hover {
    transform: scale(1.5);
}

.favorite {
    display: flex;
    justify-content: end;
    z-index: 2;
    visibility: hidden;
    margin-top: -2rem;
    /* background-color: red; */
}

.favorite i {
    color: red;
    font-size: 1.5rem;
    transition: .3s linear;
    cursor: pointer;
}

.product:hover i {
    transform: scale(1.1);
    visibility: visible;
    transition: .3s linear;
}

/* /////// */
.custom-dropdown {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 1rem 0 0;
}

.custom-dropdown span {
    font-size: 1.3rem;
    /* border-radius: .5rem; */
    margin-left: .5rem;
    padding: .4rem;
    /* background-color: red; */
}

.dropdown-select {
    padding: 8px 40px 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

/* Customizing the arrow icon */
.dropdown-select::after {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Optional hover effect */
.dropdown-select:hover {
    border-color: #999;
}

/* Optional focus effect */
.dropdown-select:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* ///// */
.invoice-total {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.history {
    padding: 1rem;
}
.view_product{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* for mobile */
@media (max-width: 770px) {
    h1 {
        font-size: 1rem;
        font-weight: bold;
    }

    .product {
        padding: 0;
        width: 10rem;
        height: 19rem;
    }

    .image_product {
        width: 10rem;
        height: 7rem;
    }

    .product_detail {
        padding: .5rem;
        height: 7rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: wrap;
        margin-bottom: .2rem;
    }

    .product_detail h2 {
        font-size: .8rem;
        height: 2rem;
    }

    .product_detail p {
        padding-top: 0;
        font-size: .7rem;
    }

    .rating i {
        font-size: .8rem;
    }

    .rating span {
        font-size: .8rem;
    }

    .price {
        padding-top: .5rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin: .1rem;
        padding: .2rem;
    }

    .price p {
        font-size: 1rem;
    }

    .price span i {
        font-size: 1.2rem;
    }

    .favorite {
        width: 9.5rem;
        visibility: visible;

    }

    .line {
        margin-left: 1rem;
        width: 94%;
        border-bottom: .5px solid;
    }

    .product:hover img {
        transform: none;

    }

    .custom-dropdown span {
        font-size: 1rem;
    }

    .dropdown-select:focus {
        height: 2rem;
        width: 10rem;
    }

    .dropdown-select {
        font-size: 2rem;
        font-size: .5rem;
    }

    .dropdown-select .option {

        background-color: red;
    }

    .dropdown-select {
        font-size: 10px;
    }

    .empty {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;
        height: 20rem;
    }

    .controll_slide_company {
        width: 100%;
        padding: 0 2rem 0 2rem;
    }

    .center_prooduct {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product_list {
        width: 95vw;
        padding: .5rem;
        display: flex;
        overflow-x: auto;
        gap: .5rem;
        /* flex-wrap: wrap; */
        /* justify-content: center; */
        /* align-items: center; */
        margin-bottom: 1rem;
    }
    .view_products{
        display: flex;
        align-items: center;
    }
    .view_product h1{
        width: auto;
        height: 50%;
      }
      .title_slide h1{
        font-size: 1rem;
        background-color: rgba(0, 255, 255, 0.64);
        border-radius: 2px;
        padding: .5rem;
        margin: 1px;
    }
    .title_slide h1:nth-child(1){
        background-color: rgba(255, 255, 0, 0.644);
    }
   

}