
.list{
    background-color: rgb(243, 124, 124);
}
.list h2{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
}
.clear{
    margin-left: 2rem;
}
.shop_product{
    padding: 0rem .5rem 0rem 1rem;
}
.table{
    text-align: center;
}
strong{
    font-size: 1.3rem;
}
td p,.add_remove{
    text-align: center;
    padding-top: 1.5rem;
    
}

td h3{
    font-weight: bold;
    margin: 0;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 1rem;
}
.thumbnail{
    width: 8rem;
    height: 6rem;
    border: .1px solid;
    border-radius: .2rem;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.add_remove{
    display: flex;
    gap: .2rem;
    align-items: center;
    justify-content: center;
}
.add_remove span i{
    transition: .3s linear;
}
.add_remove span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: .1px solid;
    transition: .3s linear;
    background-color: var(--color-red);
    color: var(--color-white);
}
.add_remove span:nth-child(3) {
    background-color: green;
}
.add_remove span:hover {
    transform: scale(1.1);
}
.add_remove span:hover i{
    transform: rotate(90Deg);
}
.num_p1 span{
    width: 3rem;
    border-radius: .5rem;
    background-color: var(--color-navbar);
    color: var(--color-text);
    border: none;
    box-shadow: inset 0 0 1rem var(--color-white);
}
.addTopay {
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    padding: 0 7rem;
}
.addTopay button{
    width: 20rem;
    color: var(--color-white);
}
.button{
    width: 5rem;
    background-color: none;
    border: 1px solid var(--color-navbar);
}
.button:hover{
    background-color: var(--color-green);
    color: var(--color-white);
}
.button:nth-child(2):hover{
    background-color: var(--color-red);
}
.not_add_cart{
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 770px){
    .list h2{
        font-size: 1.2rem;
    }
    .clear{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 2rem;
    }
    .clear span{
        font-size: .7rem;
    }
    .shop_product{
        padding: 0;
    }
    td p,.add_remove{
        padding: 0;
        margin: 0;
    }
    td h3{
        padding: 0;
        width: 9rem;
        font-size: .7rem;
    }
    .thumbnail{
        width: 4rem;
        height: 4rem;
    }
    .add_remove span i{
        padding: 0;
        font-size: .6rem;
    }
    .add_remove span{
        width: 1.5rem;
        height: 1.5rem;
    }
    td span{
        padding: 0;
        font-size: 1rem;
    }
    strong{
        font-size: .7rem;
    }
    
}
@media (max-width: 568px){
    td h3{
        padding: 0;
        width: 5rem;
        font-size: .6rem;
    }
    .thumbnail{
        width: 3rem;
        height: 3rem;
    }
    .addTopay button{
        font-size: .7rem;
        color: var(--color-white);
    }
    .add_remove span i{
        padding: 0;
        font-size: .5rem;
    }
    .add_remove span{
        width: 1rem;
        height: 1rem;
    }
    .shop_product{
        padding: 0rem 0.4rem 0rem 1rem;
    }
}