.container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .loading-text {
    color: #007bff;
    font-weight: bold;
    margin-top: 10px;
  }
.main-login {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.cart_form {
    overflow: hidden;
    position: relative;
    width: 40%;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
    
}
.form_data label{
    margin: .5rem;
    width: 99%;
}

/* animation */
.cart_form::before {
    content: '';
    margin-left: 25%;
    height:70rem;
    width: 15rem;
    border-radius: 2rem;
    position: absolute;
    box-shadow: 0 3rem 30rem rgb(144, 0, 255);
    background: linear-gradient(#00ccff, #d500f9);
    animation: rotate 10s linear infinite;
}

.cart_form::after {
    content: '';
    position: absolute;
    background-color: rgb(255, 252, 252);
    inset: 5px;
    border-radius: .5rem;
}

/* ??? */
.bord_profile{
    width: 35rem;
    background-color: azure;
    margin: 1rem auto ;
    border-radius: .5rem;
    box-shadow: 0rem 0rem 1rem rgb(146, 144, 144);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    /* margin-bottom: 7rem; */
}
.profile_p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border: 1px solid;
    border-radius: 50%;
}
.profile_p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail_pro{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 18rem;
    
}
.detail_pro h1{
    height: 4rem;
    width: 30rem;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 1rem;
    border-radius: .5rem;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    gap: 1.5rem;
    box-shadow: 0rem 0rem 1rem rgb(167, 166, 166);
}
.detail_pro h1:hover{
    background-color: antiquewhite;
}
.detail_pro h1 span{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: start; 
    color: rgb(113, 113, 113);  
}
.password_containers {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 12px;
    padding: 0 5px 0 5px;
    
  }
  .password_controll{
    display: flex;
    justify-content: center;
  }
  .password_containers input{
    width: 100%;
    outline: none;
    border: none;
    padding: 0 5px 0 5px;
  }
  .password_containers span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 2rem;
  }

  
  .error-message {
    color: red;
    margin-top: 10px;
  }



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cart_form h2 {
    z-index: 1;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

.cart_form form button {
    z-index: 1;
    background-color: rgb(32, 31, 31);
    width: 10rem;
    padding: .2rem;
    margin-top: .5rem;
    border-radius: .2rem;
    font-size: 1.3rem;
    transition: .2s linear;
    border: none;
}

.cart_form form button:hover {
    box-shadow: 0 0 12px rgb(255, 236, 158);
    transform: scale(1.02);
}

.cart_form form span {
    margin-top: .2rem;
    color: black;
}
.cart_form form span a {
    cursor: pointer;
    color: rgb(66, 66, 255);
}
.cart_form form span a:hover {
        padding: 0rem 1rem 0 1rem;
        border: .1px solid red;
}

.google {
    z-index: 1;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgb(52, 136, 240);
}
.google a {
    font-size: 1rem;
    color: black;
}
.li{
    color: red;
    cursor: pointer;
}
.li:hover{
    color: red;
    padding: 0rem 1rem 0 1rem;
    border: .1px solid;
}
@media (max-width: 768px) {
    .bord_profile{
        width: 22rem;
        margin-top: .5rem;
        padding: 2rem;
    }
    .profile_p{
        width: 6rem;
        height: 6rem;
    }
    .detail_pro{
        width: 20rem;
    }
    .detail_pro h1{
        width: 18rem;
        font-size: 1rem;
    }
    .cart_form{
        width: 80%;
    }
    .container{
        width: 100%;
      
    }
   .main-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 50vh;
    /* width: 100%; */
   }
    .password_containers span {
        top: 0.4rem;
        font-size: 1rem;
    }
    .form_data label{
        width: 90%;
        font-size: .7rem;
    }
    .form_data{
        width: 100%;
    }
    .password_containers{
        width: 90%;
        height: 1.5rem;
        font-size: .7rem;
        border-radius: 5px;
    }
    .cart_form form button{
        font-size: 1rem;
    }
    .cart_form form span{
        font-size: 1rem;
    }
 
}
